a.btn {
	border-radius: 4px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	background-color: #2f5999;
    color: white;
	opacity: .9;
}
a.btn:hover {
	opacity: 1;
	border: 1px solid white;
}

.hero {
	display: flex;
	flex-direction: column;
    align-items: center;
    position: relative;
	justify-content: center;
	text-align: center;
    min-height: 100vh;
    padding: 100px 80px;
	color: #fff;
}

.hero h3, #zero {
	font-size: 2em;
}

.hero p {
	max-width: 775px;
	line-height: 2;
	padding: 0 20px;
	margin-bottom: 30px;
	text-align: center;
}

@media (max-width: 800px) {
	.hero {
		padding: 50px 20px;
	}
}

.hero .background-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	z-index: -1;
	background-color: #80a3db;
}

.hero h1 {
	font: bold 60px 'Cinzel', serif;
	margin-bottom: 15px;
}

.hero h3 {
	font: normal 28px 'Playfair Display SC', serif;
	margin-bottom: 40px;
}

.hero a.btn {
	padding: 20px 46px;
}

.hero-content-area {
	opacity: 0;
	margin-top: 100px;
	animation: 1s slidefade 1s forwards;
}

@keyframes slidefade {
	100% {
		opacity: 1;
		margin: 0;
	}
}

@media (max-width: 800px) {
	.hero {
		min-height: 600px;
	}

	.hero h1 {
		font-size: 48px;
	}

	.hero h3 {
		font-size: 24px;
	}

	.hero a.btn {
		padding: 15px 40px;
	}
}

/*  LINE BETWEEN STYLE  */

.line {
    overflow: visible;
    margin-top: 3%;
    margin-bottom: 1%;
    padding: 0;
    border: none;
    border-top: medium double #07347a;
    color: #07347a;
    text-align: center;
}
.line:after {
    content: "$";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: #c3cfe2;
}

.fontRu {
	font-family: 'PT Sans Caption', sans-serif;
	font-size: 100px;
}